appdirs==1.4.4
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.8
connection==2021.1.5
cx-Oracle==8.1.0
Django==3.1.5
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cache==0.13.1
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
openpyxl==3.0.6
psycopg2-binary==2.8.6
pyee==8.1.0
pyppeteer==0.2.5
pytz==2020.5
requests==2.25.1
robotframework==3.2.2
six==1.15.0
sqlparse==0.4.1
tqdm==4.55.1
typing==3.7.4.3
uiautomation==2.0.9
urllib3==1.26.2
websockets==8.1
Werkzeug==1.0.1
